@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import "variables";

@import "../components/Square/index.scss";

body {
  font-family: Righteous;
  margin: 0;
}

.board {
  border: 1rem solid #ff652f;
  background: #ff652f;
  width: 500px;
  height: 500px;
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
  gap: 1rem;
}

